In [57]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn import svm
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
import seaborn as sns

In [29]:
data=pd.read_csv(r"C:\Users\aakar\OneDrive\Desktop\Data Science\Machine Learning\Machine Learning Projects Datasets\loan status.csv")
data.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y

In [30]:
data.isnull().sum()

Loan_ID               0
Gender               13
Married               3
Dependents           15
Education             0
Self_Employed        32
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           22
Loan_Amount_Term     14
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64

In [31]:
data=data.dropna()

In [32]:
data.isnull().sum()

Loan_ID              0
Gender               0
Married              0
Dependents           0
Education            0
Self_Employed        0
ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           0
Loan_Amount_Term     0
Credit_History       0
Property_Area        0
Loan_Status          0
dtype: int64

In [33]:
data.shape

(480, 13)

In [34]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 480 entries, 1 to 613
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Loan_ID            480 non-null    object
 1   Gender             480 non-null    object
 2   Married            480 non-null    object
 3   Dependents         480 non-null    object
 4   Education          480 non-null    object
 5   Self_Employed      480 non-null    object
 6   ApplicantIncome    480 non-null    int64
 7   CoapplicantIncome  480 non-null    float64
 8   LoanAmount         480 non-null    float64
 9   Loan_Amount_Term   480 non-null    float64
 10  Credit_History     480 non-null    float64
 11  Property_Area      480 non-null    object
 12  Loan_Status        480 non-null    object
dtypes: float64(4), int64(1), object(8)
memory usage: 52.5+ KB

In [35]:
data.replace({'Gender':{'Male':0,'Female':1},'Married':{'No':0,'Yes':1},'Education':{'Not Graduate':0,'Graduate':1},'Self_Employed':{'No':0,'Yes':1},'Property_Area':{'Rural':0,'Semiurban':1,'Urban':2},'Loan_Status':{'N':0,'Y':1}},inplace=True)

In [36]:
data['Dependents'].value_counts()

0     274
2      85
1      80
3+     41
Name: Dependents, dtype: int64

In [37]:
data=data.drop(data[data.Dependents == '3+'].index)

In [38]:
data['Dependents'].value_counts()

0    274
2     85
1     80
Name: Dependents, dtype: int64

In [39]:
data.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
1,LP001003,0,1,1,1,0,4583,1508.0,128.0,360.0,1.0,0,0
2,LP001005,0,1,0,1,1,3000,0.0,66.0,360.0,1.0,2,1
3,LP001006,0,1,0,0,0,2583,2358.0,120.0,360.0,1.0,2,1
4,LP001008,0,0,0,1,0,6000,0.0,141.0,360.0,1.0,2,1
5,LP001011,0,1,2,1,1,5417,4196.0,267.0,360.0,1.0,2,1

In [40]:
X=data.drop(columns=['Loan_ID','Loan_Status'],axis=1)
Y=data['Loan_Status']

In [64]:
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.2,stratify=Y,random_state=25)

In [65]:
# SVM Classifier Model

In [66]:
classifier=svm.SVC(kernel='linear')

In [67]:
classifier.fit(X_train,Y_train)

SVC(kernel='linear')

In [68]:
train_pred=classifier.predict(X_train)
train_accuracy=accuracy_score(train_pred,Y_train)

In [69]:
print("Train Data Accuracy :",train_accuracy)

Train Data Accuracy : 0.792022792022792

In [70]:
test_pred=classifier.predict(X_test)
test_accuracy=accuracy_score(test_pred,Y_test)

In [71]:
print("Test Data Accuracy :",test_accuracy)

Test Data Accuracy : 0.7386363636363636

In [72]:
# Logistic Regression Model

In [73]:
log_model=LogisticRegression()

In [74]:
log_model.fit(X_train,Y_train)

C:\Coding\Anaconda\lib\site-packages\sklearn\linear_model\_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [75]:
train_pred=log_model.predict(X_train)
train_accuracy=accuracy_score(train_pred,Y_train)

In [76]:
print("Training Accuracy :",train_accuracy)

Training Accuracy : 0.8148148148148148

In [77]:
test_pred=log_model.predict(X_test)
test_accuracy=accuracy_score(test_pred,Y_test)

In [78]:
print("Test Accuracy :",test_accuracy)

Test Accuracy : 0.7272727272727273

In [23]:
# Prediction System

In [24]:
print("Enter Details to Predict Loan Status")
a = int(input("Gender (Male = 0, Female = 1) :"))
b = int(input("Married (No = 0, Yes = 1) :"))
c = int(input("Dependant :"))
d = int(input("Education (Not Graduate = 0, Graduate = 1) :"))
e = int(input("Self Employed (No = 0, Yes = 1) :"))
f = int(input("Applicant Income :"))
g = int(input("Co-Applicant Income :"))
h = int(input("Loan Amount :"))
i= int(input("Loan Amount Term :"))
j = int(input("Credit History :"))
k = int(input("Property Area (Rural = 0, Semiurban = 1, Rural = 2) :"))
features = np.array([[a, b, c, d, e, f, g, h, i, j, k]])

Enter Details to Predict Loan Status
Gender (Male = 0, Female = 1) :1
Married (No = 0, Yes = 1) :0
Dependant :2
Education (Not Graduate = 0, Graduate = 1) :1
Self Employed (No = 0, Yes = 1) :1
Applicant Income :12345
Co-Applicant Income :0
Loan Amount :5324
Loan Amount Term :360
Credit History :1
Property Area (Rural = 0, Semiurban = 1, Rural = 2) :2
[0]

C:\Coding\Anaconda\lib\site-packages\sklearn\base.py:409: UserWarning: X does not have valid feature names, but SVC was fitted with feature names
  warnings.warn(